body {
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
}
.btn {
    width: 200px;
    height: 150px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 0.1rem;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}     
.purple {
    background-color: purple;
}
.green {
    background-color: rgb(77, 147, 77);
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}